.row-header {
    margin: 0px auto;
    padding: 0px auto;
}
.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}
.footer {
    background-color: #D1C4E9;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}
.jumbotron {
    padding: 30px 30px 50px 30px;
    background:#e6eff7;
    font-size: 90%;
    color: #0f0f0f;
}
.address {
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}
body {
    padding: 50px 0px 0px 0px;
    z-index: 0;
}
.navbar-dark {
    background-color: #512DA8;
}
.nav-item a {
    color: #bcbcc4;
    display: block;
    padding: 12px;
    text-decoration: none;
}
.nav-item a:hover {
    color: #ecf4fc;
}
/* .content {
    background-color:#e6eff7;
}
  .sidenav a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
  }
  
  .sidenav a:hover {
    background-color: #ccc;
  }
  
  .sidenav a.active {
    background-color: #4CAF50;
    color: white;
  }

  .sidenav-content {
      margin-top: 1px;
  } */

  .jumbotron-java {
    padding: 5px 15px 15px 15px;
    margin-top: 15px;
    background:#e6eff7;
    color: #3f3fbf;
}
.navbar-dark-java {
    background-color: #1c2c3c;
}
.jumbo-item li a {
    color: #5f50e6;
    text-decoration: none;
}
.jumbo-item li a:hover {
    color: darkorange;
}