.row-header {
    margin: 0px auto;
    padding: 0px auto;
}
.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}
.footer {
    background-color: #D1C4E9;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}
.jumbotron {
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background:#e6eff7;
    color: #3f3fbf;
}
.address {
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}
body {
    padding: 50px 0px 0px 0px;
    z-index: 0;
}
.navbar-dark {
    background-color: #512DA8;
}
.sidenav {
    margin: 0px;
    
}
.content {
    background-color:#e6eff7;
}
  .sidenav a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
  }
  
  .sidenav a:hover {
    background-color: #ccc;
  }
  
  .sidenav a.active {
    background-color: #4CAF50;
    color: white;
  }

  .sidenav-content {
      margin-top: 1px;
  }

  .jumbotron-java {
    padding: 5px 15px 15px 15px;
    margin: 0px auto;
    background:#e6eff7;
    color: #3f3fbf;
}
.navbar-dark-java {
    background-color: #1c2c3c;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}